<div class="header">
    <center>
        <img class="pull-left" width="40px" height="40px" ng-style="{ 'display': isBack }" ng-click="back()" src="img/ic_back.svg" style="margin-top: 15px; cursor: pointer;" />
        <span class="header-title">Usuários</span>
    </center>
</div>
<div ui-view name="usuariosAppContent" class="has-header">
</div>
