<div class="has-header animated fadeInRight" style="padding: 7px;">
<br>
  <form role="form">
   <label for="nome">Nome:</label>
    <div class="form-group">
      <input class="form-control" id="name" ng-model="usuario.name">
    </div>

    <div class="form-group">
      <label for="descricao">Email:</label>
      <input class="form-control" id="address" type="email" ng-model="usuario.address"></textarea>
    </div>

    <div class="form-group">
      <label for="data">C.P.F:</label>
      <input type="number" class="form-control" id="cpf" ng-model="usuario.cpf"/>
    </div>
     
    <button type="button" class="btn btn-success btn-block" ng-click="inserOrUpdate()">Salvar Alterações</button>
    </form>
</div>