<div class="has-header animated fadeInLeft">
    <br>
    <div class="center-text" ng-show="noResults">
        <h4>Nenhum resultado encontrado</h4>
    </div>
    <div style="width: 100%; padding: 15px;" ng-show="!noResults">
        <table class="table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>C.P.F</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in usuarios">
                    <td>{{usuario.name}}</td>
                    <td>{{usuario.cpf}}</td>
                    <td>{{usuario.address}}</td>
                    <td><img src="img/ic_edit.svg" ng-click="edit(usuario.id)"/><img src="img/ic_delete.svg" ng-click="destroy(usuario.id)"/></td>
                </tr>
            </tbody>
        </table>
    </div>
    <a class="float" id="menu-share" ng-click="novo()">
	  <img class="my-float" src="img/ic_add.svg"/>
	</a>
</div>