.app{
	height: 100%;
	top:0px;
}

.header{
-webkit-box-shadow: 0px 7px 20px -6px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 7px 20px -6px rgba(0,0,0,0.1);
box-shadow: 0px 7px 20px -6px rgba(0,0,0,0.1);
background: #387EF5 !important;
color: #465fe1;
height: 70px;
}

.header-title{
    font-size: 2em;
    font-weight: bold;
    transition: linear 0.2s all;
    line-height: 70px;
    color: #FFF;
}

.float{
	    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 20px;
    background-color: #4588f1;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
    z-index: 99999999;
}

.float>img{
	width: 45px;
    margin-top: 7px;	
}

.card{
    border-radius: 0px 0px 5px 5px !important;
    margin: 5px !important;
    background: white !important;
    -webkit-box-shadow: 0px 7px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 20px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 20px -7px rgba(0,0,0,0.75);
}

.card-title{
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


.card-content{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: justify;
}


.content{
	position: absolute;
	top:50px;
}


.has-header{
    position: relative;
}

.center-text{
	width: 250px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 200px;
	margin-left: -125px;
}

.center-text-main{
	width: 250px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 200px;
	margin-left: -125px;
}